#                                  ASSIGNMENT_3

# SET A

list

In [1]:
#1.program to sum all the item in the list
a=[10,20,30,40]
sum=0
for i in a:
    sum=sum+i
    
print("sum of list:",sum)

sum of list: 100

In [7]:
#2.write a python program to multiplies the items in list
def mul(list):
    total=1
    for i in list:
        total=total*i
    return total

list=[1,6,4,3.5,7]
print("multiplication of list:",mul(list))

multiplication of list: 588.0

In [8]:
#3.program to get list,sorted in increasing order by the last element in each tuple from a given list of non-empty tuple
def last(n):
    return n[-1]

def incr(list):
    return sorted(list,key=last)

list=[(10,20),(30,40),(40,10),(24,34)]
print("after sorting=",incr(list))

after sorting= [(40, 10), (10, 20), (24, 34), (30, 40)]

tuples

In [9]:
#1.python program to create tuple
tuple=("apple","grapes","banana","orange")
print(tuple)

('apple', 'grapes', 'banana', 'orange')

In [10]:
#2.python progra to create tuple with different data types
tuple=(11,"orange",22.40,"apple",[20,30])
print(tuple)

(11, 'orange', 22.4, 'apple', [20, 30])

In [11]:
#3.python program to check whether an element exist within a tuple
tuple=(10,23,45,86,37,59)
print(12 in tuple)
print(23 in tuple)

False
True

sets

In [12]:
#1.python program to create a set
set1={11,"green",34,30.90}
print(set1)

{'green', 11, 34, 30.9}

In [13]:
#2.python program to iterate over sets
set1={23,5.08,"blue",76,1}
for i in set1:
    print(i)

1
blue
5.08
23
76

In [14]:
#3.python program to create set difference
a={1,2,3,4,5,6,7}
b={1,8,9,0,4,5,6}
print(a.difference(b))

{2, 3, 7}

Dictionary

In [15]:
#1.python script to sort(asc and desc) a dictionary by value
def sort_dict_by_value(d, reverse = False):
  return dict(sorted(d.items(), key = lambda x: x[1], reverse = reverse))
print("Original dictionary elements:")
colors = {'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}
print(colors)
print("\nSort (ascending) the said dictionary elements by value:")
print(sort_dict_by_value(colors))
print("\nSort (descending) the said dictionary elements by value:")
print(sort_dict_by_value(colors, True))

Original dictionary elements:
{'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}

Sort (ascending) the said dictionary elements by value:
{'Red': 1, 'White': 2, 'Green': 3, 'Pink': 4, 'Black': 5}

Sort (descending) the said dictionary elements by value:
{'Black': 5, 'Pink': 4, 'Green': 3, 'White': 2, 'Red': 1}

In [17]:
#2.python program to add key to dictionary
dict={"rno":11,"name":"ram","pin-code":413678}
print(dict)
dict["address"]="shrirampur"
print("after adding key:",dict)

{'rno': 11, 'name': 'ram', 'pin-code': 413678}
after adding key: {'rno': 11, 'name': 'ram', 'pin-code': 413678, 'address': 'shrirampur'}

In [28]:
#3.python program to iterate over dictionary using for loop
dict={"rno":11,"name":"ram","pin-code":413678}
for i,j in dict.items():
    print(i,dict[i])

rno 11
name ram
pin-code 413678

# set b

list

In [29]:
#1.python program to remove duplicate from list
a=[10,20,30,20,10,50,40]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 20, 30, 50, 40]

In [33]:
#2.write python program to check a list is emety or not
list=[]
if not list:
    print("list is emety")
else:
    print("list is not empty")

list is emety

Tuples

In [43]:
#1.python program to convert list to tuple
my_list=[2,4,7,8,5,1]
tuple =(*my_list,)
print(tuple)

(2, 4, 7, 8, 5, 1)

In [47]:
#2.python program for remove an item from a tuple
tup=(10,40,"aman",30,40,20)
tup1=tup[:2]+tup[3:]
print(tup1)

(10, 40, 30, 40, 20)

In [48]:
#3.write a python program to slice a tuple
tup=(10,40,"aman",30,40,20)
slic=tup[2:5]
print(slic)

('aman', 30, 40)

In [54]:
#4.program to find the length of a tuple
tup=(10,40,"aman",30,40,20)
print(len(tup))

6

Sets

In [56]:
#1.program to check if a set is a subset of another set
x=set(["apple","mango","grapes"])
y=set(["mango","orange"])
print(x.issubset(y))

False

In [57]:
#2.python program to find minimum and maximum of set
a={10,40,34,84,23,23}
print(max(a))
print(min(a))

84
10

In [58]:
#3.python program to find length of a set
a={10,40,34,84,23,23}
print(len(a))

5

Dictionary

In [59]:
#1.generate and print a dictionary that contain a number (between 1 and n) in form of (x,x*x)
n=int(input("enter limit"))
dict={}
for i in range(1,n+1):
    dict[i]=i*i

print(dict)

enter limit5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
#2.merge two python dictionaries
d1={"a":100,"b":200}
d2={"x":300,"y":400}
d=d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [63]:
#3.program to get a dictionary from an object's fields
class dictobj(object):
    def __init__(self):
        self.a=32
        self.b=60
test = dictobj()
print(test.__dict__)

{'a': 32, 'b': 60}